<!DOCTYPE html>
<html>
<head>
  <title>AwesomeHost</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>AwesomeHost</h2>
<h2>           ... because SFTP is a PITA</h2>

<nav class = "navbar navbar-default">
	<div class = "navbar-header>
		<a class = "navbar-brand" href = "#">Where Do You Want To Go Today™?</a>
	</div>
	<ul class = "nav navbar-nav">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Add New Image from your Computer", new_image_path %></li> 
        <% if user_signed_in? %>
        	<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Sign Up", new_user_registration_path %></li>
			<li><%= link_to "Sign In", new_user_session_path %></li>
		<% end %>
	</ul>
</nav>

<p class = 'notice'><%= notice %></p>
<p class = 'alert'><%= alert %></p>

<%= yield %>

</body>
</html>
